<header class="cabecalho">
    <nav>
        <a href="index.html">Home</a>
        <a href="cotacao.html">Solicitar cotação</a>
        <a href="tel:+55-11-96128-3704">Ligue agora</a>
        <a href="https://www.google.com/maps/dir//WestCar/data=!4m8!4m7!1m0!1m5!1m1!1s0x94cf03d19d44bc7b:0xe67c5a33dc7391d5!2m2!1d-46.8937567!2d-23.483878699999998">Rotas</a>
    </nav>
    <figure class="cabecalho_imagem">
        <img src="/assets/images/WestCar_logo.svg" alt="WestCar Logo"/>
        <figcaption>Nós trabalhamos com som automotivo, alarme, Insulfilm e artigos variados
            Aberto hoje até 18:00</figcaption>
    </figure>
</header>