*{box-sizing: border-box;}
body{
    background-color: black;
    color:white;
    margin: 0px;
    padding: 0px;
    font-family: 'Lemonada', cursive;
}
button{
    background-color: #48487F;
    color: white;
    padding: 20px;
    text-align: center;
}
.cabecalho{
    background-color: black;
    text-align: center;
}
.cabecalho_imagem{
    /*border: 2px solid white;*/
    padding-top: 3.1em;
}
.logo_caption{
    font-size: 1.5em;
    color: yellow;
}
.navegacao{
    width: 100%;
    display: block;
    position: fixed;
    background-color: #333;
    color: white;
    text-align: left;
    overflow: auto;
    margin: 0;
    top: 0;
    font-size: 1.5em;
    float: left;
}
.navlink{
    float:right;
    color:white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.navlink:hover{
    color: black;
    background-color: white;
}
.principal{
    text-align: center;
}
.fachada{
    display: grid;
    width: 500px;
    padding:5px;
    border: gray solid 1px;
    bottom:0px;
    align-content: center;
}
.figprincipal{
    display: grid;
    background-color: white;
    color: black;
    /*top: 0px;*/
    border: 1px solid gray;
    border-radius: 0px 0px 15px 15px;
    width: 500px;
}
figure{
    text-align: center;
}