<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/estilos/west.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;700&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
</head>
<body>
    {% include navegacao.html %}
    <div class="conteudo">
        {{ content }}
    </div>
    {% include rodape.html %}
</body>
</html>